@import "tailwindcss";
@config "./tailwind.config.js";

@font-face {
  font-family: "RmNeue";
  src: url("assets/fonts/RMNeueTRIAL-Regular.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Carving";
  src: url("assets/fonts/massive-carving-demo.bold.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --my-color: red;
  --primary: blue;
  --blog-text-muted: #6b7280;
}